.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    backdrop-filter: blur(20px); 
}



@keyframes fade-in {
    0%{transform: translateY(0);
        opacity: 1;
    }
}

.header-container h3 {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: Poppins;
}

.header-container h3 p {
    font-size: 15px;
}

.header-container h3 p span {
    color: var(--color-pri);
    font-size: 20px;
}

.header-container h2 {
    font-size: 16px;
    font-weight: 100;
    color: var(--color-pri);
    font-family: "Open Sans";
    letter-spacing: 1px;
}

.header-container img {
    /* position: relative;
    display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* position: absolute; */
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid rgba(108, 161, 197);
    transform: translate(-200px);
    /* opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards; */
}


.home-container {
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
}

@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

.home-container h2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
}

.home-container .button-container .btn-pri  {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px; 
    background: linear-gradient(180deg, #DC3545 26.71%, #FF6456 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}
  
.home-container .button-container .btn-pri:hover {
    background: white; 
    cursor: pointer;
    color: var(--pink);
    border: 1px solid var(--pink);
} 

/* .home-container h2 span{
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-pri);
    font-family: "Open Sans Condensed", sans-serif;
} 

.home-container h2 p {
    font-size: 20px;
    opacity: 1;
    font-weight: 100;
    margin-top: 1px;
    font-family: 'Open Sans', sans-serif;
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.scroll-down hr {
    background-color: blue;
    width: 20px;
}

.scroll-down h5{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.scroll-down .scroll {
    transform: rotate(-90deg);
    font-size: 100;
} */

/* Contact */

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 80vh;
    margin-top: 100px;
    padding: 30px;
}

.contact-container h1 {
    margin: 0 auto;
    font-size: 22px;
    font-family: 'Open Sans Condansed';
    font-weight: 400;
    color: var(--color-pri);
}

.contact-container .contact-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}


.contact-container .contact {
    position: relative;
    height: 200px;
    width: 28%;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, transform .2s ease;
}



.contact-container .contact .icon {
    position: relative;
    height: 70px;
    width: 25%;
}

.contact-container .contact:hover {
    background: rgba(255, 2555, 255, 0.096);
    transform: scale(1.1);
    color: #DC3545;
}

.contact-container .contact h2 {
    position: relative;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-family: 'Open Sans';
    text-align: center;
    color: #DC3545;
}

.contact-container .contact h2 span {
    font-size: 13px;
    font-weight: 100;
    margin-top: 3px;
    color: black;
}